<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.fileuploadtest.mapper.BoardMapper">
	<insert id="insertBoard" parameterType="gd.fintech.fileuploadtest.vo.Board">
		<selectKey resultType="int" keyProperty="boardId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO board(
			board_title,
			board_content
		) VALUES (
			#{boardTitle},
			#{boardContent}
		)
	</insert>
	<resultMap type="gd.fintech.fileuploadtest.vo.Board" id="selectBoardOneResult">
		<result property="boardId" column="board_id"/>
		<result property="boardTitle" column="board_title"/>
		<result property="boardContent" column="board_content"/>
		<collection property="boardfile" ofType="gd.fintech.fileuploadtest.vo.Boardfile">
			<result property="boardfileId" column="boardfile_id"/>
			<result property="boardId" column="board_id"/>
			<result property="boardfileName" column="boardfile_name"/>
			<result property="boardfileType" column="boardfile_type"/>
			<result property="boardfileSize" column="boardfile_size"/>
		</collection>
		<collection property="commentList" ofType="gd.fintech.fileuploadtest.vo.Comment">
			<result property="commentId" column="comment_id"/>
			<result property="boardId" column="board_id"/>
			<result property="commentContent" column="comment_content"/>
		</collection>
	</resultMap>
	<select id ="selectBoardListByPage" resultType="gd.fintech.fileuploadtest.vo.Board">
		SELECT
			board_id boardId,
			board_title boardTitle,
			board_content boardContent
		FROM board
		ORDER BY board_id DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<select id="selectBoardcount" resultType="Integer">
		SELECT COUNT(*) FROM board
	</select>
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE board_id=#{boardId}
	</delete>
	<select id="selectBoardOne" parameterType="int" resultMap="selectBoardOneResult">
        SELECT 
        	b.*, bf.*, c.*
		FROM board b 
			LEFT JOIN boardfile bf
			ON b.board_id = bf.board_id 
			LEFT JOIN comment c
			on b.board_id = c.board_id
         WHERE b.board_id = #{boardId}
	</select>
	<update id="updateBoard" parameterType="gd.fintech.fileuploadtest.vo.Board">
		UPDATE
			board
		SET
			board_title = #{boardTitle},
			board_content = #{boardContent}
		WHERE
			board_id = #{boardId}
	</update>
</mapper>